.container {
  margin: 3rem auto;

  max-width: 120rem;

  padding: 0 2rem;
}

.game-list {
  margin-bottom: 3rem;
}

.actions {
  position: sticky;
  bottom: 0;

  width: 100%;

  display: flex;
}

.actions > :local(button) {
  flex: 1;

  border: none;
}

.actions > :local(button):first-child {
  border-top-left-radius: 0.5rem;
}

.actions > :local(button):last-child {
  border-top-right-radius: 0.5rem;
}

@media (min-width: 340px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 768px) {
  .game-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .game-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .actions {
    position: static;
  }

  .actions > :local(button):not(:last-child) {
    margin-right: 2rem;
  }

  .container {
    min-height: calc(100vh - 6rem - 1.07em);
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 150rem;
  }
}
