.button {
  background-color: #333;

  border: #f6f6f8 0.1px solid;

  color: #f6f6f8;

  cursor: pointer;

  font-weight: 500;

  outline: none;

  padding: 2rem 2rem;
}

.button:disabled {
  background-color: #222;

  color: #c2c2c2;
}
