.link {
  display: inline-block;
}

.container {
  min-height: 27.5rem;

  position: relative;
}

.image {
  border-radius: 0.5rem;

  min-height: 27.5rem;
}

.name {
  position: absolute;
  bottom: 0;

  margin: 0;
  padding: 2rem;

  font-weight: 700;

  background: linear-gradient(
    0deg,
    rgba(14, 17, 17, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 100%;
}

@media (max-width: 767px) {
  .link:not(:last-child) {
    margin-bottom: 2rem;
  }
}
