html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: #0e1111;

  color: #f6f6f8;

  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.8rem;
  }
}
