.container {
  padding: 3rem 0;

  background-color: #262828;

  display: grid;
  place-content: center;

  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.container > :local(nav) > :local(ul) {
  padding: 0;
}
