.container {
  background: url('static/pexels-cottonbro-3945673.jpg') center no-repeat;
  background-size: cover;

  color: #0e1111;

  display: grid;
  place-content: center;
  gap: 1em;

  height: calc(100vh - 6rem - 1.07em);

  text-align: center;
}

.sub-title {
  margin: 0;
}

.link {
  font-weight: 500;
  text-decoration: underline;
}
