.container {
  background-color: #262828;
}

.item-list {
  display: flex;

  padding: 2rem;
}

.list-item:not(:last-child) {
  margin-right: 3rem;
}

.list-link {
  font-weight: 500;
}

@media (min-width: 340px) {
  .item-list {
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .item-list {
    max-width: 120rem;

    margin: 0 auto;
  }
}

@media (min-width: 340px) {
  .item-list {
    max-width: 150rem;
  }
}
